html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(210, 210, 210);
}

.page {
  height: 100%;
  position: relative;
}

.ui {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#game {
  display: inline-block;
}

.controls {
  display: inline-block;
  height: 100%;
  width: 150px;
  background-color: rbg(150, 150, 150);
}

.controls button {
  width: 100%;
  height: 
/*   visibility: hidden; */
}

.clockwise-button {
  background-image: url(https://cdn.glitch.com/61ae5b6a-e084-43e1-9667-ae000b4f3e81%2F498-4980685_3d-rotate-icon-3d-rotation-icon-png-transparent.png?v=1619382058528);
  background-size: 100% 100%;
}
